body {
    margin: 0;
    padding: 0;
    background-color: #082e3c;
    font-family: Arial;
    font-size: 15px;
}

.page-width {
    width: 620px;
    margin-left: auto;
    margin-right: auto;
}

#top {
    height: 300px;
    background: url('../images/top.png');
    margin-top: 85px;
}

#content {
    background: #ffffff;
    padding-top: 32px;
}

#content h1 {
    height: 40px;
    background: url('../images/useless-shit.png');
    background-repeat: no-repeat;
    text-indent: 68px;
    font-size: 24px;
    line-height: 40px;
    font-weight: normal;
    margin: 0 0 23px 0;
}

#content p {
    margin: 0 0 29px 68px;
    width: 499px;
}

#read-more {
    color: #ea6060;
}

#comment-button {
    width: 166px;
    height: 49px;
    border: 2px solid #56ccc8;
    color: #56ccc8;
    background: #ffffff;
    margin: 0 0 36px 68px;
    text-align: center;
    line-height: 49px;
}

#shared {
    margin-left: 68px;
    background: url('../images/share-icon.png') no-repeat;
    text-indent: 26px;
    width: 162px;
    display: inline-block;
    margin-bottom:33px;
}
#views {
    background: url('../images/views-icon.png') no-repeat;
    text-indent: 27px;
    display: inline-block;
    width: 175px;
}
#comments {
    background: url('../images/comments-icon.png') no-repeat;
    text-indent: 22px;
    display: inline-block;
}
